@font-face {
  font-family: "meriendaregular";
  src: url("police/merienda-regular-webfont.eot");
  src: url("police/merienda-regular-webfont.eot?#iefix") format("embedded-opentype"), url("police/merienda-regular-webfont.woff2") format("woff2"), url("police/merienda-regular-webfont.woff") format("woff"), url("police/merienda-regular-webfont.ttf") format("truetype"), url("police/merienda-regular-webfont.svg#meriendaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kuraleregular";
  src: url("police/kurale-regular-webfont.eot");
  src: url("police/kurale-regular-webfont.eot?#iefix") format("embedded-opentype"), url("police/kurale-regular-webfont.woff2") format("woff2"), url("police/kurale-regular-webfont.woff") format("woff"), url("police/kurale-regular-webfont.ttf") format("truetype"), url("police/kurale-regular-webfont.svg#kuraleregular") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "dynalightregular";
  src: url("police/dynalight-regular-webfont.eot");
  src: url("police/dynalight-regular-webfont.eot?#iefix") format("embedded-opentype"), url("police/dynalight-regular-webfont.woff2") format("woff2"), url("police/dynalight-regular-webfont.woff") format("woff"), url("police/dynalight-regular-webfont.ttf") format("truetype"), url("police/dynalight-regular-webfont.svg#dynalightregular") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("police/kaushanscript-regular-webfont.eot");
  src: url("police/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("police/kaushanscript-regular-webfont.woff2") format("woff2"), url("police/kaushanscript-regular-webfont.woff") format("woff"), url("police/kaushanscript-regular-webfont.ttf") format("truetype"), url("police/kaushanscript-regular-webfont.svg#kaushan_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes btn {
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #eeee09;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #eeee09, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0.25em 0 0 #eeee09, 0.5em 0 0 #eeee09;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.img img {
  width: 150%;
  margin-left: -70%;
}
.menu1 p, .menu2 p, .menu3 p, .menu4 p, .box5, mark, .titre, #blocknote h3, #blockchic h3, #blockdelice h3, #blockpalette h3, .menu1, .menu2, .menu3, .menu4, .titrebottom {
  text-align: center;
}
header, footer, mark {
  background-color: #579c87;
}
header, footer {
  justify-content: space-between;
}
header, body {
  display: block;
  margin: auto;
}
header {
  width: 20%;
  padding-left: 50%;
  padding-right: 30%;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 5%;
}
body {
  width: 1100px;
}
a {
  text-decoration: none;
}
footer {
  bottom: 0px;
  display: flex;
  position: sticky;
}
footer h3 a {
  color: #FFCA28;
  font-family: sans-serif;
  font-weight: normal;
}
footer h3:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.mention {
  margin-left: 5%;
}
.contact {
  margin-right: 5%;
}
/***************************************************************************************************************************************/
#blockmain {
  margin: auto;
  display: flex;
  justify-content: space-around;
  max-width: 750px;
  flex-wrap: wrap;
}
i.fas {
  background: -webkit-linear-gradient(0deg, #D84315 0% 0%, #9575CD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.fa, .fas {
  font-weight: 900;
}
.menu1, .menu2, .menu3, .menu4 {
  box-shadow: 0px 0px 8px grey;
  width: 100%;
  max-width: 400px;
  height: 350px;
  margin: 15px;
  padding-top: 230px;
  font-size: 1.5em;
  display: block;
}
.menu1 {
  background-color: #ffcdd2;
  margin-bottom: 10%;
}
.menu1 p {
  font-family: "meriendaregular";
  color: #3E2723;
  font-size: 1.4em;
  margin-top: -7%;
}
.menu2 {
  background-color: #ECEFF1;
}
.menu2 p {
  font-family: "dynalightregular";
  font-weight: normal;
  background: -webkit-linear-gradient(0deg, #1976D2 0% 30%, #42A5F5);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.9em;
  margin-top: 3%;
}
.menu3 {
  background-color: #FCE4EC;
  margin-bottom: 10%;
}
.menu3 p {
  font-family: "kuraleregular";
  background: -webkit-linear-gradient(0deg, #D84315 0% 0%, #9575CD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.35em;
}
.menu4 {
  background-color: #FAFAFA;
}
.menu4 p {
  font-family: "kaushan_scriptregular";
  background: -webkit-linear-gradient(0deg, #388E3C 0% 30%, #C6FF00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5em;
  margin-top: 1%;
}
.menu1 a p:hover, .menu2 a p:hover, .menu3 a p:hover, .menu4 a p:hover {
  transform: scale(1.1);
  opacity: 40%;
  transition: 1000ms;
}
.box5 {
  display: block;
}
.box5 mark {
  color: #FFCA28;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 2em;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 100px;
  border-radius: 10px 10px 10px 10px;
}
.box5 mark .btn {
  content: ".";
  animation: btn 1.2s steps(5, end) infinite;
}
/*********************************************************************************************************************************************/
.note, .chic, .delice, .palette, .mentionsite {
  box-shadow: 0px 0px 10px grey;
  margin: auto;
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  flex-direction: column;
  margin-bottom: 10%;
  padding-bottom: 10%;
}
.note {
  background-color: #ffcdd2;
}
.chic {
  background-color: #FCE4EC;
}
.delice {
  background-color: #ECEFF1;
}
.palette {
  background-color: #FAFAFA;
}
.mentionsite {
  background-color: #FFCA28;
}
.titre {
  font-size: 2em;
  margin-top: 5%;
}
.titre1, .titre2, .titre3, .description1, .description2, .description3 {
  justify-content: space-between;
  display: flex;
}
.titre1, .titre2, .titre3 {
  font-size: 2em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 5%;
}
.description1, .description2, .description3 {
  margin-left: 7%;
  margin-right: 7%;
  flex-direction: column;
}
.des1, .des2, .des3, .des4 {
  display: flex;
  justify-content: space-between;
}
.note {
  font-family: "meriendaregular";
  color: #3E2723;
  padding-bottom: 2.5%;
}
.note p {
  line-height: 3;
  font-size: 1.2em;
}
.note h3 {
  font-size: 0.8em;
}
.note .titre h2 {
  font-size: 1.4em;
}
.note .titre1 {
  margin-top: 1%;
}
.note img {
  width: 35%;
  height: 10%;
  margin-top: 3%;
}
.note .titrebottom {
  font-size: 1.2em;
  margin-top: 2%;
}
.note .titre1 h3:before {
  content: "";
  border-radius: 30%;
  background: #3E2723;
  position: absolute;
  width: 95px;
  height: 3px;
  margin-top: 35px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.note .titre1 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.note .titre2 h3:before {
  content: "";
  border-radius: 30%;
  background: #3E2723;
  position: absolute;
  width: 170px;
  height: 3px;
  margin-top: 35px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.note .titre2 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.note .titre3 h3:before {
  content: "";
  border-radius: 30%;
  background: #3E2723;
  position: absolute;
  width: 210px;
  height: 3px;
  margin-top: 35px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.note .titre3 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.delice {
  font-family: "dynalightregular";
}
.delice p {
  color: black;
  line-height: 2;
  font-size: 1.6em;
}
.delice h3 {
  color: black;
  font-size: 1em;
}
.delice h2 {
  background: -webkit-linear-gradient(0deg, #1976D2 0% 30%, #42A5F5);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.8em;
}
.delice img {
  width: 35%;
  height: 10%;
  margin-top: 4%;
}
.delice .titre1 h3:before {
  content: "";
  border-radius: 30%;
  background: black;
  position: absolute;
  width: 200px;
  height: 3px;
  margin-top: 35px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.delice .titre1 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.delice .titre2 h3:before {
  content: "";
  border-radius: 30%;
  background: black;
  position: absolute;
  width: 180px;
  height: 3px;
  margin-top: 35px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.delice .titre2 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.delice .titre3 h3:before {
  content: "";
  border-radius: 30%;
  background: black;
  position: absolute;
  width: 180px;
  height: 3px;
  margin-top: 35px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.delice .titre3 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.chic {
  font-family: "kuraleregular";
}
.chic .chic h2 {
  background: -webkit-linear-gradient(0deg, #D84315 0% 0%, #9575CD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5em;
}
.chic h3 {
  font-size: 0.8em;
}
.chic .titre1, .chic .description1 {
  color: #c67412;
}
.chic .titre2, .chic .description2 {
  color: #a56799;
}
.chic .titre3, .chic .description3 {
  color: #6e4ccc;
}
.chic p {
  line-height: 2.5;
  font-size: 1.2em;
}
.chic img {
  width: 35%;
  height: 10%;
  margin-top: 2.5%;
}
.chic .titre1 h3:before {
  content: "";
  border-radius: 30%;
  background: #c67412;
  position: absolute;
  width: 200px;
  height: 3px;
  margin-top: 25px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.chic .titre1 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.chic .titre2 h3:before {
  content: "";
  border-radius: 30%;
  background: #a56799;
  position: absolute;
  width: 210px;
  height: 3px;
  margin-top: 25px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.chic .titre2 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.chic .titre3 h3:before {
  content: "";
  border-radius: 30%;
  background: #6e4ccc;
  position: absolute;
  width: 160px;
  height: 3px;
  margin-top: 25px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.chic .titre3 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.palette {
  font-family: "kaushan_scriptregular";
}
.palette p {
  color: black;
  line-height: 3;
  font-size: 1em;
}
.palette h3 {
  font-size: 0.8em;
}
.palette h2 {
  background: -webkit-linear-gradient(0deg, #388E3C 0% 30%, #C6FF00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5em;
}
.palette img {
  width: 35%;
  height: 10%;
  margin-top: 3%;
}
.palette .titre1 h3:before {
  content: "";
  border-radius: 30%;
  background: black;
  position: absolute;
  width: 75px;
  height: 3px;
  margin-top: 35px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.palette .titre1 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.palette .titre2 h3:before {
  content: "";
  border-radius: 30%;
  background: black;
  position: absolute;
  width: 175px;
  height: 3px;
  margin-top: 35px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.palette .titre2 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.palette .titre3 h3:before {
  content: "";
  border-radius: 30%;
  background: black;
  position: absolute;
  width: 190px;
  height: 3px;
  margin-top: 35px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 700ms ease-in-out;
}
.palette .titre3 h3:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.mentionsite h3 {
  margin-left: 7%;
}
@media all and (max-device-width: 576px) {
  #blockmain {
    flex-direction: column;
  }
  .left {
    margin-bottom: 20%;
  }
  .right {
    margin-bottom: 15%;
  }
  .img img {
    width: 300%;
    margin-left: -150%;
    margin-top: 40%;
  }
  header {
    padding-bottom: 7em;
  }
  .menu1, .menu2, .menu3, .menu4 {
    padding-left: 21.25%;
    padding-right: 21.25%;
    padding-bottom: 10%;
  }
  .menu1 p {
    font-size: 2.5em;
    margin-top: -20%;
  }
  .menu2 p {
    font-size: 3.5em;
    margin-top: -15%;
  }
  .menu3 p {
    font-size: 3em;
    margin-top: -1%;
  }
  .menu4 p {
    font-size: 2.8em;
    margin-top: -10%;
  }
  mark {
    font-size: 4em;
  }
  footer {
    height: 200px;
  }
  footer h3 a {
    font-size: 3em;
  }
  footer h3 {
    padding-top: 10%;
  }
  .note, .delice, .chic, .palette, .mentionsite {
    max-width: 1100px;
    padding-bottom: 7%;
  }
  .note p {
    line-height: 3;
    font-size: 3em;
  }
  .titredes {
    margin-right: 2%;
  }
  .note h3 {
    font-size: 2em;
  }
  .note .titre h2 {
    font-size: 3em;
  }
  .note .titre1 {
    margin-top: 1%;
  }
  .note img {
    margin-top: 8%;
  }
  .titrebottom h2 {
    font-size: 3em;
    margin-top: 2%;
  }
  .delice p {
    font-size: 5em;
  }
  .delice h3 {
    font-size: 2.5em;
  }
  .delice h2 {
    font-size: 4em;
  }
  .delice img {
    margin-top: 10%;
  }
  .chic h2 {
    font-size: 3em;
  }
  .chic h3 {
    font-size: 2.3em;
  }
  .chic p {
    font-size: 4em;
  }
  .chic img {
    margin-top: 8%;
  }
  .palette p {
    font-size: 4em;
  }
  .palette h3 {
    font-size: 2.5em;
  }
  .palette h2 {
    font-size: 4em;
  }
  .palette img {
    margin-top: 10.5%;
  }
  .mentionsite h2 {
    font-size: 3em;
  }
  .mentionsite h3 {
    font-size: 1.6em;
  }
  .mentionsite p {
    font-size: 2.5em;
  }
  #blocknote .titre1 h3:hover:before, #blocknote .titre2 h3:hover:before, #blocknote .titre3 h3:hover:before {
    transform: scaleX(0);
  }
  #blockdelice .titre1 h3:hover:before, #blockdelice .titre2 h3:hover:before, #blockdelice .titre3 h3:hover:before {
    transform: scaleX(0);
  }
  #blockchic .titre1 h3:hover:before, #blockchic .titre2 h3:hover:before, #blockchic .titre3 h3:hover:before {
    transform: scaleX(0);
  }
  #blockpalette .titre1 h3:hover:before, #blockpalette .titre2 h3:hover:before, #blockpalette .titre3 h3:hover:before {
    transform: scaleX(0);
  }
}

/*# sourceMappingURL=styles.css.map */
