.img img {
	width : 150%;
	margin-left: -70%;
}
header {
	background-color: #009688;
	width: 20%;
	display : block;
	margin : auto;
	padding-left: 50%;
	padding-right: 30%;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 5%;
	justify-content: space-between;
}


body {
	width: 1100px;
    margin: auto;
    display: block;
}



#blockmain {
	margin: auto;
	display: flex;
	justify-content: space-around;
	max-width: 700px;
}



.left {
	margin-right: 2.5%;
}
.right {
	margin-left: 2.5%;
}

i.fas {
	background: -webkit-linear-gradient(0deg, #D84315 0% -0%, #9575CD);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

a {
	text-decoration: none;
}



.fa, .fas {
    font-weight: 900;
}



.menu1, .menu2, .menu3, .menu4 {
	box-shadow: 0px 0px 8px grey;
	width: 100%;
    max-width: 400px;
    height: 200px;
    margin: 15px;
    padding-top: 200px;
    padding-bottom: 150px;
    font-size: 1.5em;
    text-align: center;
    display: block;
}



.menu1 {
	background-color: #ffcdd2;	
    margin-bottom: 10%;
}
.menu2 {
	background-color: #ECEFF1;		
}
.menu3 {
	background-color: #FCE4EC;
    margin-bottom: 10%;
}
.menu4 {
	background-color: #FAFAFA;		
}



.menu1 a p:hover, .menu2 a p:hover, .menu3 a p:hover, .menu4 a p:hover {
	transform: scale(1.1);
	opacity: 40%;
	transition: 1000ms;
}



.menu1 p {
	font-family: Gabriola;
	font-style: italic;
	color: #3E2723;
	font-size: 2.1em;
}
.menu2 p {
	font-family: Brush Script MT;
	font-weight: normal;
	background: -webkit-linear-gradient(0deg, #1976D2 0% 30%, #42A5F5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    font-size: 1.8em;  
}
.menu3 p {
	font-family: Berlin Sans FB;
	font-weight: normal;
	background: -webkit-linear-gradient(0deg, #D84315 0% -0%, #9575CD);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.5em;
}
.menu4 p {
	font-family: Lucida Handwriting;
	font-weight: bold;
	background: -webkit-linear-gradient(0deg, #388E3C 0% 30%, #C6FF00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1em;
}




.box5 {
	text-align: center;
	display: block;
}
mark {
	background-color: #009688;
	color: #FFCA28;
	font-family: Calibri;
	font-weight: normal;
	font-size: 2em;
	display: inline-block;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 100px;
	border-radius: 10px 10px 10px 10px;

}
.btn {
	content: ".";
    animation: btn 1.2s steps(5, end) infinite;
}
@keyframes btn {
	20% { color: rgba(0, 0, 0, 0); text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
	40% { color: #eeee09; text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
	60% { text-shadow: 0.25em 0 0 #eeee09, 0.5em 0 0 rgba(0, 0, 0, 0); }
	100% { text-shadow: 0.25em 0 0 #eeee09, 0.5em 0 0 #eeee09; }
	animation-delay:0s;
}



footer {
	background-color: #009688;
	bottom: 0px;
	justify-content: space-between;
	display: flex;
	position: sticky;
}
footer h3 a {
	color: #FFCA28;
	font-family: Calibri;
	font-weight: normal;
}
footer h3:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.mention {
	margin-left: 5%;
}
.contact {
	margin-right: 5%;
}





.note, .chic, .delice, .palette, .mentionsite {
	box-shadow: 0px 0px 10px grey; 	
	margin: auto;
	display: flex;
	justify-content: space-around;
	max-width: 800px;
	flex-direction: column;
	margin-bottom: 10%;
	padding-bottom: 10%;
}

.note {
	background-color: #ffcdd2;
}
.chic {
	background-color: #FCE4EC;
}
.delice {
	background-color: #ECEFF1;
}
.palette {
	background-color: #FAFAFA;
}
.mentionsite {
	background-color: #FFCA28;
}

.titre {
	text-align: center;
	font-size: 2em;
	margin-top: 5%;
}
#blocknote h3, #blockchic h3, #blockdelice h3, #blockpalette h3 {
	text-align: center;
}
#blocknote p {
	font-size: 1.5em; 
}
.titre1, .titre2, .titre3 {
	display: flex;
	font-size: 2em;
	justify-content: space-between;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 5%;

}


.note {
	font-family: Gabriola;
	font-style: italic;
	color: #3E2723;
}


.delice p {
	font-family: Brush Script MT;
	font-weight: normal;
	color: black;
	line-height: 2;
	font-size: 1.4em;
}
.delice h3 {
	font-family: Brush Script MT;
	font-weight: normal;
	color: black;
}
.delice h2 {
	font-family: Brush Script MT;
	font-weight: normal;
	background: -webkit-linear-gradient(0deg, #1976D2 0% 30%, #42A5F5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    font-size: 1.8em;  
}


.chic {
	font-family: Berlin Sans FB;
	font-weight: normal;
	background: -webkit-linear-gradient(90deg,  #9575CD 0% -0%, #D84315);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.chic h3 {
	font-family: Berlin Sans FB;
	font-weight: normal;
	font-size: 0.8em;
}
.chic .titre h2 {
	font-family: Berlin Sans FB;
	font-weight: normal;
	background: -webkit-linear-gradient(0deg,  #9575CD 0% -0%, #D84315);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.chic p {
	line-height: 2;
	font-size: 1.2em;
}


.palette p {
	font-family: Lucida Handwriting;
	font-weight: normal;
	color: black;
	line-height: 3;
	font-size: 1em;
}
.palette h3 {
	font-family: Lucida Handwriting;
	font-weight: normal;
	font-size: 0.8em;
}
.palette h2 {
	font-family: Lucida Handwriting;
	font-weight: normal;
	background: -webkit-linear-gradient(0deg, #388E3C 0% 30%, #C6FF00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.5em;  
}
.palette img {
	width: 35%;
	height: 10%;
	margin-top: 2.5%;
}



.mentionsite h3 {
	margin-left: 7%;
}

hr {
	width: 30%;
	height: 5%;
}

.description1, .description2, .description3 {
	display: flex;
	justify-content: space-between;
	margin-left: 7%;
	margin-right: 7%;
}
.titrebottom {
	text-align: center;
	font-size: 1.3em;
}
