.img img {
	width : 150%;
	margin-left: -70%;
}
header {
	background-color: #009688;
	width: 20%;
	display : block;
	margin : auto;
	padding-left: 50%;
	padding-right: 30%;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 5%;
	justify-content: space-between;
}


body {
	width: 1100px;
    margin: auto;
    display: block;
}



#blockmain {
	margin: auto;
	display: flex;
	justify-content: space-around;
	max-width: 700px;
	flex: wrap;
}



.left {
	margin-right: 2.5%;
}
.right {
	margin-left: 2.5%;
}



a {
	text-decoration: none;
}



.fa, .fas {
    font-weight: 900;
}



.menu1, .menu2, .menu3, .menu4 {
	box-shadow: 0px 0px 8px grey;
	width: 100%;
    max-width: 400px;
    height: 200px;
    margin: 15px;
    padding-top: 200px;
    padding-bottom: 150px;
    font-size: 1.5em;
    text-align: center;
    display: block;
}



.menu1 {
	background-color: #ffcdd2;	
    margin-bottom: 10%;
}
.menu2 {
	background-color: #FCE4EC;		
}
.menu3 {
	background-color: #ECEFF1;
    margin-bottom: 10%;
}
.menu4 {
	background-color: #FAFAFA;		
}



.menu1 a p:hover, .menu2 a p:hover, .menu3 a p:hover, .menu4 a p:hover {
	transform: scale(1.1);
	opacity: 40%;
	transition: 1000ms;
}



.menu1 p {
	font-family: Gabriola;
	font-style: italic;
	color: #3E2723;
	font-size: 2.1em;
}
.menu2 p {
	font-family: Brush Script MT;
	font-weight: normal;
	background: -webkit-linear-gradient(0deg, #1976D2 0% 30%, #42A5F5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    font-size: 1.8em;  
}
.menu3 p {
	font-family: Berlin Sans FB;
	font-weight: normal;
	background: -webkit-linear-gradient(0deg, #D84315 0% -0%, #9575CD);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.5em;
}
.menu4 p {
	font-family: Lucida Handwriting;
	font-weight: bold;
	background: -webkit-linear-gradient(0deg, #388E3C 0% 30%, #C6FF00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1em;
}




.box5 {
	text-align: center;
	display: block;
}
mark {
	background-color: #009688;
	color: #FFCA28;
	font-family: Calibri;
	font-weight: normal;
	font-size: 2em;
	display: inline-block;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 100px;
	border-radius: 10px 10px 10px 10px;

}
.btn {
	content: ".";
    animation: btn 1.2s steps(5, end) infinite;
}
@keyframes btn {
	20% { color: rgba(0, 0, 0, 0); text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
	40% { color: #eeee09; text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
	60% { text-shadow: 0.25em 0 0 #eeee09, 0.5em 0 0 rgba(0, 0, 0, 0); }
	100% { text-shadow: 0.25em 0 0 #eeee09, 0.5em 0 0 #eeee09; }
	animation-delay:0s;
}



footer {
	background-color: #009688;
	bottom: 0px;
	justify-content: space-between;
	display: flex;
	position: sticky;
}
footer h3 a {
	color: #FFCA28;
	font-family: Calibri;
	font-weight: normal;
}
footer h3:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.mention {
	margin-left: 5%;
}
.contact {
	margin-right: 5%;
}

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./composants/buttons";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

