@font-face {
    font-family: 'meriendaregular';
    src: url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.eot');
    src: url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.woff2') format('woff2'),
         url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.woff') format('woff'),
         url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.ttf') format('truetype'),
         url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.svg#meriendaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kuraleregular';
    src: url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.eot');
    src: url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.woff2') format('woff2'),
         url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.woff') format('woff'),
         url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.ttf') format('truetype'),
         url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.svg#kuraleregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'dynalightregular';
    src: url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.eot');
    src: url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.woff2') format('woff2'),
         url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.woff') format('woff'),
         url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.ttf') format('truetype'),
         url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.svg#dynalightregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.eot');
    src: url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.woff') format('woff'),
         url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.img img {
	width : 150%;
	margin-left: -70%;
}
.menu1 p, .menu2 p, .menu3 p, .menu4 p, .box5, mark, .titre, #blocknote h3, #blockchic h3, #blockdelice h3, #blockpalette h3, .menu1, .menu2, .menu3, .menu4, .titrebottom {
	text-align: center;
}
header, footer, mark {
	background-color: #009688;
}
header, footer {
	justify-content: space-between;
}
header, body {
	display : block;
	margin : auto;
}
header {
	width: 20%;
	padding-left: 50%;
	padding-right: 30%;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 5%;
}
body {
	width: 1100px;
}
a {
	text-decoration: none;
}
footer {
	bottom: 0px;
	display: flex;
	position: sticky;
	h3 a {
		color: #FFCA28;
		font-family: Calibri;
		font-weight: normal;
	}
}
footer h3:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.mention {
	margin-left: 5%;
}
.contact {
	margin-right: 5%;
}
/***************************************************************************************************************************************/
#blockmain {
	margin: auto;
	display: flex;
	justify-content: space-around;
	max-width: 750px;
	flex-wrap: wrap;
}
i.fas {
	background: -webkit-linear-gradient(0deg, #D84315 0% -0%, #9575CD);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.fa, .fas {
    font-weight: 900;
}
.menu1, .menu2, .menu3, .menu4 {
	box-shadow: 0px 0px 8px grey;
	width: 100%;
    max-width: 400px;
    height: 350px;
    margin: 15px;
    padding-top: 230px;
    font-size: 1.5em;
    display: block;
}
.menu1 {
	background-color: #ffcdd2;	
	margin-bottom: 10%; 
}
.menu2 {
	background-color: #ECEFF1;	
}
.menu3 {
	background-color: #FCE4EC;
    margin-bottom: 10%;
}
.menu4 {
	background-color: #FAFAFA;	
}
.menu1 a p:hover, .menu2 a p:hover, .menu3 a p:hover, .menu4 a p:hover {
	transform: scale(1.1);
	opacity: 40%;
	transition: 1000ms;
}
@font-face {
    font-family: 'meriendaregular';
    src: url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.eot');
    src: url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.woff2') format('woff2'),
         url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.woff') format('woff'),
         url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.ttf') format('truetype'),
         url('C:/Users/yan95/ProjetFood/police/merienda-regular-webfont.svg#meriendaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kuraleregular';
    src: url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.eot');
    src: url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.woff2') format('woff2'),
         url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.woff') format('woff'),
         url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.ttf') format('truetype'),
         url('C:/Users/yan95/ProjetFood/police/kurale-regular-webfont.svg#kuraleregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'dynalightregular';
    src: url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.eot');
    src: url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.woff2') format('woff2'),
         url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.woff') format('woff'),
         url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.ttf') format('truetype'),
         url('C:/Users/yan95/ProjetFood/police/dynalight-regular-webfont.svg#dynalightregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.eot');
    src: url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.woff') format('woff'),
         url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('C:/Users/yan95/ProjetFood/police/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.menu1 p {
	font-family: 'meriendaregular';
	color: #3E2723;
	font-size: 1.5em;
	margin-top: -10%;
}
.menu2 p {
	font-family: 'dynalightregular';
	font-weight: normal;
	background: -webkit-linear-gradient(0deg, #1976D2 0% 30%, #42A5F5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    font-size: 1.8em;
    margin-top: 3%;
}
.menu3 p {
	font-family: 'kuraleregular';
	background: -webkit-linear-gradient(0deg, #D84315 0% -0%, #9575CD);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.5em;
}
.menu4 p {
	font-family: 'kaushan_scriptregular';
	background: -webkit-linear-gradient(0deg, #388E3C 0% 30%, #C6FF00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1em;
}
.box5 {
	display: block;
}
mark {
	color: #FFCA28;
	font-family: Calibri;
	font-weight: normal;
	font-size: 2em;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 100px;
	border-radius: 10px 10px 10px 10px;
}
.btn {
	content: ".";
    animation: btn 1.2s steps(5, end) infinite;
}
@keyframes btn {
	20% { color: rgba(0, 0, 0, 0); text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
	40% { color: #eeee09; text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
	60% { text-shadow: 0.25em 0 0 #eeee09, 0.5em 0 0 rgba(0, 0, 0, 0); }
	100% { text-shadow: 0.25em 0 0 #eeee09, 0.5em 0 0 #eeee09; }
	animation-delay:0s;
}
/*********************************************************************************************************************************************/
.note, .chic, .delice, .palette, .mentionsite {
	box-shadow: 0px 0px 10px grey; 	
	margin: auto;
	display: flex;
	justify-content: space-around;
	max-width: 800px;
	flex-direction: column;
	margin-bottom: 10%;
	padding-bottom: 10%;
}
.note {
	background-color: #ffcdd2;
}
.chic {
	background-color: #FCE4EC;
}
.delice {
	background-color: #ECEFF1;
}
.palette {
	background-color: #FAFAFA;
}
.mentionsite {
	background-color: #FFCA28;
}
.titre {
	font-size: 2em;
	margin-top: 5%;
}
#blocknote p {
	font-size: 1.5em; 
}
.titre1, .titre2, .titre3, .description1, .description2, .description3 {
	justify-content: space-between;
	display: flex;
}
.titre1, .titre2, .titre3 {
	font-size: 2em;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 5%;
	text-decoration: underline;
}
.description1, .description2, .description3 {
	margin-left: 7%;
	margin-right: 7%;
}
/******************************************************************************************************************************************************/
.note {
	font-family: 'meriendaregular';
	color: #3E2723;
	padding-bottom: 2.5%;
	p {
		line-height: 2;
	}
}
.note .titre {
	font-size: 2.2em;
}
.note .titre1 {
	margin-top: -5%;
}
.note img {
	width: 35%;
	height: 10%;
	margin-top: 6%;
}
.titrebottom {
	font-size: 1.5em;
	margin-top: 2%;
}
/*******************************************************************************************************************************************************/
.delice p, .delice h3, .delice h2 {
	font-family: 'dynalightregular';
}
.delice p {
	color: black;
	line-height: 2;
	font-size: 1.4em;
}
.delice h3 {
	color: black;
	font-size: 1em;
}
.delice h2 {
	background: -webkit-linear-gradient(0deg, #1976D2 0% 30%, #42A5F5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    font-size: 1.8em;  
}
.delice img {
	width: 35%;
	height: 10%;
	margin-top: 4%;
}
/*******************************************************************************************************************************************************/
.chic, .chic h2, .chic h3 {
	font-family: 'kuraleregular';
}
.chic h2{
	background: -webkit-linear-gradient(0deg, #D84315 0% -0%, #9575CD);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	 font-size: 1.5em;
}
.chic h3 {
	font-size: 0.8em;
}
.chic .titre1, .chic .description1 {
	color: rgb(198,116,18);
}
.chic .titre2, .chic .description2 {
	color: rgb(165,103,153);
}
.chic .titre3, .chic .description3 {
	color: rgb(110,76,204);
}
.chic p {
	line-height: 2;
	font-size: 1.2em;
}
.chic img {
	width: 35%;
	height: 10%;
	margin-top: 2.5%;
}
/*******************************************************************************************************************************************************/
.palette p, .palette h3, .palette h2 {
	font-family: 'kaushan_scriptregular';
}
.palette p {
	color: black;
	line-height: 3;
	font-size: 1em;
}
.palette h3 {
	font-size: 0.8em;
}
.palette h2 {
	background: -webkit-linear-gradient(0deg, #388E3C 0% 30%, #C6FF00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.5em;  
}
.palette img {
	width: 35%;
	height: 10%;
	margin-top: 2.5%;
}
/*******************************************************************************************************************************************************/
.mentionsite h3 {
	margin-left: 7%;
}
/*******************************************************************************************************************************************************/




@media all and (max-device-width: 576px)
{
	#blockmain {
		flex-direction: column;
	}
	.left {
		margin-bottom: 20%;
	}
	.right {
		margin-bottom: 15%;
	}
	.img img {
		width : 300%;
		margin-left: -150%;
		margin-top: 40%;
	}
	header {
		padding-bottom: 7em;
	}
	.menu1, .menu2, .menu3, .menu4 {
		padding-left: 21.25%;
		padding-right: 21.25%;
		padding-bottom: 10%;
	}
	.menu1 p {
		font-size: 3em;
		margin-top: -15%;
	}
	.menu2 p {
		font-size: 4em;
		margin-top: -15%;
	}
	.menu3 p {
		font-size: 3.5em;
		margin-top: -5%;
	}
	.menu4 p{
		font-size: 2.5em;
		margin-top: -5%;
	}
	mark {
	font-size: 4em;
	}
	footer {
		height: 200px;
	}
	footer h3 a {
		font-size: 3em;
	}
	footer h3 {
		padding-top: 10%;
	}
}